<link rel="stylesheet" href="/styles.css">
<div class="box">


<h1>Welcome to Express Pizza</h1>

<h2>Speciality Pizzas</h2>
<ul>
    
    <li>
        <a href='/anchovy'>Anchovy Lover</a>
    </li>
    <li>
        <a href="/paleo">Paleo Pizza</a>
    </li>
    <li>
        <a href="/dessert">Dessert Pizza</a>
    </li>
</ul>

<h2>Create Your Own</h2>
<a href="/create">Click here to make your own Za</a>

<h2>Leave a Review</h2>
<a href="/review">Click here to leave a review</a>
</div>
