<link rel="stylesheet" href="/styles.css">
<div class="box">


<h1>Leave a Review</h1>

<form method="POST" action="/review">
<label for="name">Name:</label>
<br>
<input type="text" name="name" id="name" placeholder="name">
<br>
<label for="text">Comment</label>
<br>
<textarea name="text" id="text" cols="30" rows="10"></textarea>
<br>

    <p>Rating</p>
    <label for="rating-one">1</label>
    <input type="radio" name="rating" id="rating-one" value="1">
    <br>
    <label for="rating-two">2</label>
    <input type="radio" name="rating" id="rating-two" value="2">
    <br>
    <label for="rating-three">3</label>
    <input type="radio" name="rating" id="rating-three" value="3">
    <br>
    <label for="rating-four">4</label>
    <input type="radio" name="rating" id="rating-four" value="4">
    <br>
    <label for="rating-five">5</label>
    <input type="radio" name="rating" id="rating-five" value="5">
    <br>

    <button type="submit">Submit</button>

</form>







<a href="/">Home</a>
</div>