<link rel="stylesheet" href="/styles.css">
<div class="box">


<h1>Your review has been submitted</h1>

<ul>
    <li> Name: {{review.name}}
    </li>
    <li> Comment: {{review.text}}</li>
    <li>Rating: {{review.rating}}</li>



</ul>


<a href="/">Home</a>
</div>